.App {
  text-align: center;
}

.btn {
  margin:5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.pharmacyModule {
  padding-top: 20px;
}

div label {
  text-align: right;
}

.pharmacyModule .side-bar {
    color: white;
    background-color: rgb(104, 91, 91);
    border-radius: 5px;
}

.pharmacyModule li {
  padding: 1px;
  font-weight: bold; 
}


.pharmacyModule li:hover {
  background-color: grey;
  color: white;
  text-decoration: none;
}


.active {
  background-color: rgb(71, 114, 77);
  font-size: 20px;
  padding: 5px;
}

.btnS {
  float: right;
}
.side-bar h4 {
  font-weight: bold;
}